* {
    font-family: "Iosevka", monospace;
    font-weight: 800;
    font-size: 14px;
    color: #e62eda;
}

window#waybar {
    background: #171719;
    border-radius: 0;
    margin: 5px;
    padding: 3px 2px;
}

/* WORKSPACES */

#workspaces button {
    padding: 5px 5px;
    margin: 3px 2px;
    border-radius: 0;
    background: transparent;
    color: #ed558f;
}

/* active workspace */
#workspaces button.active {
    border-bottom: 2px solid #f44ed6;

}

/* hover */
#workspaces button:hover {
    background: #1e1e1e;
}

/* urgent */
#workspaces button.urgent {
    background: #5b4950;
}

#mpris {
    font-weight: 700;
    padding: 0 4px;
}

/* RIGHT SIDE STATES */

#battery.warning {
    background: rgba(246, 193, 119, 0.15);
    padding: 1px 4px;
}

#battery.critical {
    background: rgba(235, 111, 146, 0.18);
    padding: 1px 4px;
}

#wireplumber.muted {
    opacity: 0.6;
}

/*  TOOLTIP  */

tooltip {
    background: #111111;
    border: 1px solid #333333;
}

tooltip label {
    color: #e0def4;
    font-size: 11px;
}

#clock {
    color: #e22671;
}
